.page-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
  margin-top: 50px;
  height: 100dvh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: #fdfbf1;
  padding-bottom: 80px;
}

/* 모바일에서 패딩 줄이기 */
@media (max-width: 480px) {
  .page-wrapper {
    padding: 0px;
    padding-bottom: 65px;
  }
}
