@font-face {
  font-family: "SseulroneNetHandwrittenFont";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/SSRONETHandwritten.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: #fdfbf1;
}

#root {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "SseulroneNetHandwrittenFont", -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: "SseulroneNetHandwrittenFont", -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}
